body{
    background-color: gray; !important;
}

img {
    max-width: 100%;
    max-height: 100%;
}

div .lastMoveStart {
    background-color: coral !important;
}

div .lastMoveEnd {
    background-color: crimson !important;
}
.movingPiece{
    background-color: red;
    opacity: 0.1;
    position: absolute;
    width: 100%;
    height: 100%;
}
.board-box{
    margin: 10px;
    display: inline-block;
    height: calc(84px * 8);
    width: calc(84px * 8 + 500px);
}

.new-game{
    display: inline;
    margin-top: 20px;
    margin-bottom: 20px;

}

.right-container{
    display: inline;
    float: left;
    margin: 20px;
    width: 300px
}

.board {
    float: left;

    margin: auto;
    border: 2px solid lightGray;
    box-sizing: content-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: calc(84px * 8 );
    height: calc(84px * 8);
}

div .black{
    background-color: #af875f
}

.tile {
    background-color: #ecdbb0;
    text-align: center;
    width: 84px;
    height: 84px;

    position:relative;

    display: flex;
    align-items: center;
    justify-content: center;
}

.marker {
    position: absolute;
    left: calc(50% - 10);
    top: calc(50% - 10);
    height: 20px;
    width: 20px;
    background-color: lightgreen;
    z-index: 10;

    opacity: 0.5;
    border-radius: 50%;
    border-style: solid;
    border-color: red;
}

.move{
    display: inline-block;
    width: 40px;
    background-color: darkgoldenrod;
}
