body{
    background-color: gray;
}

.board {

    border: 2px solid lightGray;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: calc(84px * 8);
    height: calc(84px * 8);
}

.board .tile {
    background-color: #ecdbb0;
    color: red;
    text-align: center;
    width: 84px;
    height: 84px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.marker {
    height: 10px;
    width: 10px;
    background-color: red;
}