<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <title>Szachy</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


</head>


<body>
<div>
    <div class="board" id="chessBoard"></div>

    <p> test sdfsdf23222dsfzczx</p>
    <div th:text="${string}"></div>
    <div th:text="abc"></div>
    <div th:text="${boardTiles}"></div>
    What the fck
</div>


</body>

<script th:inline="javascript">
    /*<![CDATA[*/
    function drawBoard(x, y, color) {
        var chessBoard = document.getElementById("chessBoard");
        for (var i = 0; i < x; i++) {
            var row = chessBoard.appendChild(document.createElement("div"));
            for (var j = 0; j < y; j++) {
                var span = document.createElement('span');
                span.id = "tile-" + (i * 8 + j).toString();
                span.className = "tile"
                if (i & 1) {
                    if (j & 1) {

                    } else {
                        span.style.backgroundColor = color;
                    }
                } else {
                    if (j & 1) {
                        span.style.backgroundColor = color;
                    }
                }

                row.appendChild(span);
            }
        }
    }

    function drawPieces(tiles) {
        for (const tileId in tiles) {
            let element = document.getElementById("tile-" + tileId)
            element.innerHTML = tiles[tileId].name;
        }
    }

    function handleReset() {
        let elements = document.getElementsByClassName("marker");
        while (elements.length > 0) {
            elements[0].parentNode.removeEventListener("click", handleMove)
            elements[0].parentNode.removeChild(elements[0]);

        }
    }

    function handlePieceClick(id, pieceMoves) {
        for (const tileToMoveId of pieceMoves) {
            let parentSpan = document.getElementById("tile-" + tileToMoveId)
            let div = document.createElement("div");
            div.className = "marker"
            parentSpan.addEventListener("click",() => handleMove(id, tileToMoveId))

            parentSpan.appendChild(div);
        }

    }

    async function handleMove(pieceId, destinationId){
        document.getElementById("tile-"+pieceId).removeEventListener("click", handlePieceClick);
        document.getElementById("tile-"+destinationId).addEventListener("click", handlePieceClick);

        movePieceAtInterface(pieceId, destinationId)

        alert(" MOVE HANDLE " + pieceId + " -> " + destinationId);

        await sendMove(pieceId, destinationId);
    }

    async function sendMove(pieceId, destinationId){

    }

    function movePieceAtInterface(pieceId, destinationId){
        let startElement = document.getElementById("tile-"+pieceId);
        let text = startElement.innerText;
        startElement.innerHTML = ''
        document.getElementById("tile-"+destinationId).innerHTML = text;

    }

    function addResetEvent(){
        for(let i=0; i<64; i++){
            document.getElementById("tile-"+i).addEventListener("click", handleReset)
        }
    }

    async function addMoveEventToPieces() {
        const moves = JSON.parse(await getMoves());
        for (const tileId in moves) {
            let element = document.getElementById("tile-" + tileId)
            element.addEventListener("click", () => handlePieceClick(tileId, moves[tileId]))
        }
    }

    async function getMoves() {
        var moves;
        await $.ajax({
            url: "/game/player_moves",
            success: async function (data) {
                moves = data;
            }
        });

        return await moves
    }


    function handleResetClick() {
        ;
    }

    $(document).ready(function() {
        drawBoard(8, 8, "black")
        const boardTilesString = /*[[${boardTiles}]]*/  'default'
        console.log(boardTilesString)
        let boardTiles = JSON.parse(boardTilesString);
        drawPieces(boardTiles)

        addMoveEventToPieces();
        addResetEvent();

        document.getElementById("tile-16").addEventListener("click", handleReset)
    })




    /*]]>*/
</script>